name: My first Cookbook Workflow
on: [workflow_dispatch]

jobs:
  first_job:
    name: My first job
    runs-on: ubuntu-latest

    steps:
      - run: |
          echo "Hello ${{ vars.WHO_TO_GREET }} from ${{ github.actor }}."
          echo "Current branch is ${{ github.ref }}."
          echo "The current directory is `pwd`."
          echo "My secret is ${{ secrets.MY_SECRET }}."

      - name: Checkout
        uses: actions/checkout@v4.1.0

      - run: |
          tree
          ls -al

  Test:
    runs-on: ubuntu-latest
    environment: Test
    needs: first_job

    steps:
      - run: |
          echo "Hello ${{ vars.WHO_TO_GREET }} from ${{ github.actor }}."
          sec=$(echo ${{ secrets.MY_SECRET }} | sed 's/./& /g')
          echo "My secret is '$sec'."

  Load-Test:
    runs-on: ubuntu-latest
    environment: Load-Test
    needs: first_job

    steps:
      - run: |
          echo "This is Load Test"
          echo "Hello ${{ vars.WHO_TO_GREET }} from ${{ github.actor }}."
          sec=$(echo ${{ secrets.MY_SECRET }} | sed 's/./& /g')
          echo "My secret is '$sec'."

  Production:
    runs-on: ubuntu-latest
    environment:
      name: Production
      url: https://writeabout.net
    needs: [Test, Load-Test]

    steps:
      - run: |
          echo "This is Production"
          echo "Hello ${{ vars.WHO_TO_GREET }} from ${{ github.actor }}."
          sec=$(echo ${{ secrets.MY_SECRET }} | sed 's/./& /g')
          echo "My secret is '$sec'."
          echo "::debug::This is a debug message."
          echo "::notice::This is a notice message."
          echo "::warning::This is a warning message."
          echo "::error::This is an error message."
